/* Styles for both the menu and sidebar */

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background: 'bot-profile.png' no-repeat center center;
    background-size: contain;
    opacity: 0.1; /* Adjust the opacity to make it a watermark */
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0E7FF;
    margin: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1A1F4A; /* Updated to the new primary color */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -250px; /* Initially off-screen */
    top: 0;
    height: 100%;
    z-index: 1000; /* Ensure sidebar is above other content */
    visibility: hidden; /* Completely hidden initially */
    transition: left 0.3s ease-in-out; /* Animation for sidebar movement */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #0f1530; /* Darker shade of the primary color */
}

.menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001; /* Ensure button is above the sidebar */
}

.menu-button img {
    width: 30px;
    height: 30px;
    opacity: 0.8; /* Set initial opacity */
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out; /* Transition for opacity and filter */
    filter: brightness(0) invert(1); /* Make the image white */
}

.menu-button img:hover {
    opacity: 0.6; /* Pale white on hover */
}

/* Sidebar open state */
.sidebar-open {
    left: 0;
    visibility: visible; 
}

/* Main content shift when sidebar is open */
.sidebar-open + .main-content {
    margin-left: 250px; /* Shift main content by the width of the sidebar */
}
